

html,body{
    width: 100%;
    height: 130%;
    padding: 0%;
    margin: 0%;
}

/* CABECERA */


/* BODY */

.compras{
    width: 100%;
}

.slogan{
    font-size: 70px;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

.slogan2 {
    font-size: 120px;
    font-family: 'Sofia Sans Condensed', sans-serif;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to left, #43e97b 0%, #38f9d7 100%);
    /* text-shadow: 60px 60px 21px #b9b4b4; SOMBRA*/
}

.diana{
    width: 100%;
    margin-bottom:20%;

}


.blanco{
    font-size: 70px;
    font-family: 'Sofia Sans Condensed', sans-serif;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #9b32dc 0%, #2a88ec 80%);
}

.blanco2{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 140px;
    font-family: 'Sofia Sans Condensed', sans-serif;
    color: black;
}


.py-5{
     padding: 0% !important;
}

