/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');

html,body{
    width: 100%;
    height: 130%;
    padding: 0%;
    margin: 0%;
}

/* CABECERA */

header{
    width: 100%;
    
}
.header{
    max-width: none !important;
    background-color: white;
}

header>.nav{
    align-items: center;
    justify-content: center;
}

.titulo{
    font-family: 'Secular One', sans-serif;
    font-size: 2rem !important;
    font-weight: 560;
}


#dropdown{    
    width: 15px;
    height: 15px;

}

#subapartados{
    display:none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7.5%;
    position: fixed;
    top:10%;
    right: 22.5%;
    background-color: white;
    border: #2a88ec solid 2px;
    margin: -25px;
    padding: 10px;
}

#subapartados > a{
    text-decoration: none;
}


/* BODY */

.compras{
    width: 100%;
    min-width: 250px;
}

.slogan{
    font-size: 5vw;
    font-family: 'Sofia Sans Condensed', sans-serif;
    
}

.slogan2 {
    font-size: 9vw;
    font-family: 'Sofia Sans Condensed', sans-serif;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to left, #43e97b 0%, #38f9d7 100%);
    /* text-shadow: 60px 60px 21px #b9b4b4; SOMBRA*/
}

.diana{
    width: 100%;
    min-width: 250px;
}


.blanco{
    font-size: 5vw;
    font-family: 'Sofia Sans Condensed', sans-serif;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #9b32dc 0%, #2a88ec 80%);
}

.blanco2{
    font-size: 9vw;
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: 'Sofia Sans Condensed', sans-serif;
    color: black;
}


.py-5{
     padding: 0% !important;
}

